@import url(reset.min.css);

html,
body {
    font-family: 'Courier New', Courier, monospace
}

.rig {
    border: 2px solid;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.44);
    float: none;
}

.rig li {
    display: block;
    height: 18px;
    padding: 1px 5px;
}

.rig li:nth-child(odd) {
    background: #F0F0F0;
}

.rig .key {
    float: left;
}

.rig .value {
    float: right;
    font-weight: 700;
}

.miner {
    border: 1px solid;
    border-radius: 5px;
    float: left;
    margin: 5px;
    padding: 0;
    width: 300px;
}

.miner li:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.miner li:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.miner li {
    display: block;
    height: 18px;
    padding: 1px 5px;
}

.miner li:nth-child(even) {
    background: gainsboro;
}

.miner .key {
    float: left;
}

.miner .value {
    float: right;
    font-weight: 700;
}

#blockdata {
    color: #dedede;
    width: 100%;
}

#blockdata h2{
    text-align: center;
}

#blockdata h3 {
    text-align: center;
    text-decoration: underline;
}

#blockdata .key {
    display: block;
    float: left;
    text-align: right;
    width:60%;
}

#blockdata .value {
    font-weight: 700;
    width: 95px;
    display: block;
    float: left;
    text-align: right;
}

#chain {
    background-image: linear-gradient(top, #4D4D4D 0%, #000000 100%);
    background-image: -o-linear-gradient(top, #4D4D4D 0%, #000000 100%);
    background-image: -moz-linear-gradient(top, #4D4D4D 0%, #000000 100%);
    background-image: -webkit-linear-gradient(top, #4D4D4D 0%, #000000 100%);
    background-image: -ms-linear-gradient(top, #4D4D4D 0%, #000000 100%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #4D4D4D),
        color-stop(1, #000000)
    );

    float: left;
    min-width: 300px;
    width: 50%;
}

#estimates {
    float: right;
    width: 50%;
    
    background-image: linear-gradient(top, #000000 0%, #4D4D4D 100%);
    background-image: -o-linear-gradient(top, #000000 0%, #4D4D4D 100%);
    background-image: -moz-linear-gradient(top, #000000 0%, #4D4D4D 100%);
    background-image: -webkit-linear-gradient(top, #000000 0%, #4D4D4D 100%);
    background-image: -ms-linear-gradient(top, #000000 0%, #4D4D4D 100%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #000000),
        color-stop(1, #4D4D4D)
    );
}