html,
body {
    font-family: 'Courier New', Courier, monospace
}

h2 {
    margin: 10px 0 0 10px;
}

ul {
    border: 1px solid;
    border-radius: 5px;
    float: left;
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

li:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

li:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.rig {
    border: 2px solid;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.44);
    height: 461px;
    float: none;
}

.rig li {
    display: block;
    height: 18px;
    padding: 1px 5px;
}

.rig li:nth-child(odd) {
    background: #F0F0F0;
}

.rig .key {
    float: left;
}

.rig .value {
    float: right;
    font-weight: 700;
}

.miner li {
    display: block;
    height: 18px;
    padding: 1px 5px;
}

.miner li:nth-child(even) {
    background: gainsboro;
}

.miner .key {
    float: left;
}

.miner .value {
    float: right;
    font-weight: 700;
}

.key {
width: 315px;
float: left;
text-align: right;
}

.value {
text-align: right;
width: 80px;
float: left;
}