html,
body {
	font-family: 'Courier New', Courier, monospace
}

ul {
	border: 1px solid;
	border-radius: 5px;
	float: left;
	list-style-type: none;
	margin: 5px;
	padding: 0;
}

li {
	padding: 1px 5px;
}

li:nth-child(even) {
	background: gainsboro;
}