html,
body {
    font-family: 'Courier New', Courier, monospace
}

ul {
    border: 1px solid;
    border-radius: 5px;
    float: left;
    list-style-type: none;
    margin: 5px;
    padding: 1px;
}

.rig {
    float: none;
}

.rig li {
    display: block;
    height: 18px;
    padding: 1px 5px;
}

.rig li:nth-child(even) {
    background: gainsboro;
}

.rig .key {
    float: left;
}

.rig .value {
    float: right;
    font-weight: 700;
}

.miner li {
    display: block;
    height: 18px;
    padding: 1px 5px;
}

.miner li:nth-child(even) {
    background: gainsboro;
}

.miner .key {
    float: left;
}

.miner .value {
    float: right;
    font-weight: 700;
}